%% -*- mode: erlang -*-
%% vim: sw=4 ts=4 et ft=erlang
[
    {nitrogen, [
        % If a signkey is not specified, then Nitrogen uses the Erlang cookie.
        {signkey, "WHATEVER"},

        % Default session timeout is 20 minutes.
        % {session_timeout, 20},

        % Specify a session cookie name. Uses "wf" by default.
        % {cookie_name, "wf"}
        {recaptcha,[
            {public_key, "WHATEVER"},
            {private_key, ""}
        ]}

    ]},

    {cowboy, [
      {port,8000},
      {included_applications,[]},
      {static_paths,["/js/","/images/","/css/","/nitrogen/",
                     "/favicon.ico"]},
      {document_root,"./static"},
      {server_name,nitrogen},
      {bind_address,"0.0.0.0"}
    ]},
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].